$blue-white: #CACBCC;
$blue-s: #606676;
$blue-m: #2C3445;
$blue-l: #0D1937;
$blue-xl: #00091E;

$red-white: #FFFDFD;
$red-s: #B1928B;
$red-m: #67463E;
$red-l: #52190B;
$red-xl: #2D0900;

$green-white: #FFFFFD;
$green-s: #B1AF8B;
$green-m: #67653E;
$green-l: #524E0B;
$green-xl: #2D2B00;


$gray: #AAAAAA;
$silver: #DDDDDD;
$white: #FFFFFF;

$input-border-color: $blue-m;
$input-border-error-color: $red-l;
$input-icon-background-color: $blue-m;
$input-icon-text-color: $blue-white;
$input-backgroung-color: $blue-white;
$input-text-color: $blue-l;
$input-error-color: $red-l;

$button-background-blue: $blue-m;
$button-text-blue: $blue-white;

$login-backgroud-color: $blue-s;
$login-title-color: $blue-l;
$login-title-width: bold;